body {
    background: url("images/hallowedBlight.jpg") no-repeat center center fixed;
    background-size: cover;
}

#mainNav {
    text-align: center;
}

#menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

#menuList li {
    float: left;
}

header nav ul li a {
    color: rgb(138, 3, 3);
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none; 
    background-color: rgb(255, 112, 52);
    border-color: rgb(138, 3, 3);
    border-style: solid;
    text-align: left;
    font-size: 1.1em;
}
 
 header nav ul li a:hover {
    color: whitesmoke;
 }

 #mainTitle {
    font-family: 'Creepster', cursive;
    position: relative;
    text-align: center;
    color: rgb(255, 112, 52);
    font-size: 3em;
    letter-spacing: 10px;
    text-shadow: rgb(138, 3, 3) 0 5px;
 }

 #mainTitle::first-letter {
    font-size: 1.2em;
 }

 .myStuff {
     text-align: right;
     color: rgb(138, 3, 3);
 }

 #mainBody {
     margin: auto;
     background: rgb(0, 0, 0);
     border: 2px solid rgb(138, 3, 3);
     border-radius: 25px;
     padding: 20px;
     width: 700px;
     height: 400px;
 }

 #mainBody h2 {
    color: rgb(138, 3, 3);
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

 #mainBody dl dt {
     color: rgb(255, 112, 52);
 }

 #mainBody dl dd {
     color: rgb(101, 123, 80);
 }

 #leftNav {
     width: 250px;
 }

 #leftNav h3 {
     color: whitesmoke;
     float: left;
     text-align: center;
     padding-left: 60px;
 }

 #leftNav ul li a {
     background-color: rgb(138, 3, 3);
     color: whitesmoke;
     display: block;
     padding: 10px;
     text-decoration: none;
     float: left;
     margin: auto;
 }