body {
    background: url("images/hallowedBlight.jpg") no-repeat center center fixed;
    background-size: cover;
}

#mainNav {
    text-align: center;
}

#menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

#menuList li {
    float: left;
}

header nav ul li a {
    color: rgb(138, 3, 3);
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none; 
    background-color: rgb(255, 112, 52);
    border-color: rgb(138, 3, 3);
    border-style: solid;
    text-align: left;
    font-size: 1.1em;
}
 
 header nav ul li a:hover {
    color: whitesmoke;
 }

 #mainTitle {
    font-family: 'Creepster', cursive;
    position: relative;
    text-align: center;
    color: rgb(255, 112, 52);
    font-size: 3em;
    letter-spacing: 10px;
    text-shadow: rgb(138, 3, 3) 0 5px;
 }

 #mainTitle::first-letter {
    font-size: 1.2em;
 }

 .myStuff {
     text-align: right;
     color: rgb(138, 3, 3);
     font-size: 1.5em;
 }

 #mainBody {
     margin: auto;
     background: rgb(0, 0, 0);
     border: 2px solid rgb(138, 3, 3);
     border-radius: 25px;
     padding: 20px;
     width: 700px;
     height: 400px;
 }

 #mainBody h2 {
    color: rgb(138, 3, 3);
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

 #mainBody dl dt {
     color: rgb(255, 112, 52);
     padding-bottom: 10px;
     padding-top: 10px;
 }

 #mainBody dl dd {
     color: rgb(101, 123, 80);
 }

 #leftNav {
     width: 200px;
 }

 #leftNav h3 {
     color: whitesmoke;
     float: left;
     text-align: center;
     padding-left: 60px;
 }

 #leftNav ul li a {
     background-color: black;
     color: whitesmoke;
     display: block;
     padding: 10px;
     text-decoration: none;
     float: left;
     margin: auto;
 }

 #survTable {
    color: rgb(138, 3, 3);
}

#killTable {
    color: rgb(138, 3, 3);
}

 .perkName {
    color: rgb(255, 112, 52);
    vertical-align: middle;
    padding: 5px;
}

 #perkImage {
     max-width: 40px;
     max-height: auto;
     vertical-align: middle;
 }

tr.perkRow {
     outline: solid 1px;
 }

 .tableHead {
    font-family: 'Creepster', cursive;
    text-align: center;
    color: rgb(138, 3, 3);
    font-size: 4em;
    letter-spacing: 10px;
    text-shadow: rgb(255, 112, 52) 0 5px;
    padding: 0;
 }

 p {
     color: rgb(255, 112, 52);
     text-align: center;
     font-size: 2.5em;
 }

 .portraits {
     border-style: solid;
     border-color: rgb(0, 255, 0);
 }

 #randomSection {
     display: inline-block;
 }
 
aside {
    color: rgb(255, 112, 52);
}

label {
    color: rgb(255, 112, 52);
    font-size: 1.25em;
}

#mainLogo {
    width: auto;
    height: 75px;
}

input {
    width: auto;
    height: auto;
    padding: 10px;
}

#tableHead {
    font-size: 1.5em;
}

#returnPerks {
    width: 100px;
    height: 80px;
    height: auto;
    align-self: center;
}

.perkList {
    color: rgb(255, 112, 52);
    text-align: center;
    font-size: 2.5em;
}

#checker {
    width: 18px;
    height: 18px;
}