STEP 1 - Major Project Design
Previously you completed the Major Project Design. You may decide to make some changes to this design. 
However, you should not change your topic at this point in the course.

STEP 2 - Major Project Requirements:
For the Major Project you should create at least six web pages and a style sheet.

Every page will have:

a title with your first name, last name, and section number (the title may include additional text)
a background image or background color that does not interfere with the reading of the text on the page
a footer with your first name, last name, and section number.
The first page will have:

an image that has a link to ASU's home page
at least one large heading and several smaller headings
jump links to the top, bottom and any major sections of the page
a favicon
Spread out as you decide throughout the pages you should have:

At least six appropriate images
Several large headings and several smaller headings
Appropriate use of text effects (bold, italics, underlined)
Appropriate use of fonts (face and color)
Three lists - an ordered list, an unordered list and a definition list
Use rounded corners on at least one item
At least one table that has multiple rows and columns
Use at least one drop case and at least one text shadow
Links to other web pages that relate to your topic
Site any sources that you have used for information or images
One of your pages will be a form with at least five input controls (at least three different types of controls).

STEP 3 - Testing
Test your page and make any corrections as needed. Check that your pages meet all the 
items in the Major Project Minimum Requirements.

STEP 4 - Publishing
Use Filezilla to upload (publish) the entire major folder to your webserver. 
You should have published all six web pages, your stylesheet and any image files.

STEP 5 - Testing your published page
Now that your pages and images have all been published to your Web directory, 
you need to verify that everything is there and being referenced correctly. Make any corrections as 
needed to the files on your local storage and then publish them to your Web directory. 
Publish any missing files from your local storage to your Web directory.

STEP 6 - Submitting in Canvas:
In Canvas, you must enter the accurate and complete URL for this lesson. The url will be similar to:

http://www.public.asu.edu/~asurite/IFT301/major